In [1]:
#python string formatting
n=int(input())
print("the price is {}".format(n))

 20

the price is 20

In [6]:
#display with decimals
n=int(input())
x=int(input())
print("the price is {:.{}f}".format(n,x))
print("the price is {:.4f}".format(n))

 20
 3

the price is 20.000
the price is 20.0000

In [8]:
#multiple values
name="xyz"
age=30
gender="male"
print("my name is {} of {}. My  gender is {}".format(name,age,gender))

my name is xyz of 30. My  gender is male

In [15]:
#using indexing
name="xyz"
age=30
gender="male"
op="my name is {0} of {1}. My  gender is {2}"
print(op.format(name,age,gender))
op_2="my name is {name} of {age}. My  gender is {gender}" #named index
print(op_2.format(name="siri",age=21,gender="female"))

my name is xyz of 30. My  gender is male
my name is siri of 21. My  gender is female